@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.btn-pro {
  @apply btn bg-[#47698F] text-white border-[#35567b];
}
a.active {
  @apply btn bg-[#FF9900] text-black border-[#e17d00];
}
