@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.btn-pro {
  @apply btn bg-[#0967C2] text-white border-[#0059b3];
}
a.active {
  @apply btn bg-[#47698F] text-white border-[#35567b];
}
@layer components {
  .input-field {
    @apply w-full px-4 py-2 rounded-lg border border-gray-300 dark:border-gray-700 
    bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-100 
    focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400 
    transition;
  }
}
